OPENAI_API_KEY="OPENAI_API_KEY"
OPENAI_API_BASE_URL="OPENAI_API_BASE_URL"
OPENAI_MODEL_NAME="gpt-4o"
OPENAI_VISION_MODEL_NAME="gpt-4o"

SILICON_FLOW_API_KEY="SILICON_FLOW_API_KEY"
SILICON_FLOW_API_BASE_URL="SILICON_FLOW_API_BASE_URL"
SILICON_FLOW_MODEL_NAME="Qwen/Qwen2.5-14B-Instruct"
SILICON_FLOW_VISION_MODEL_NAME="Qwen/Qwen3-VL-32B-Instruct"

SERPER_API_KEY="SERPER_API_KEY"
PUBMED_API_KEY="PUBMED_API_KEY"
ONCOKB_API_KEY="ONCOKB_API_KEY"

BAICHUAN_API_KEY="BAICHUAN_API_KEY"
